.footer {
  background-color: #0e3386; /* Red color for the footer */
  color: #ecf0f1; /* Light text color */
  padding: 1rem;
  text-align: center;
}

.footer__text {
  margin: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
}

.footer__item {
  margin: 0.5rem;
}

.footer__item a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
}

@media screen and (max-width: 50rem) {
  .footer__list {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}
