.home-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 2rem;
}

.home-section {
  flex: 1;
  min-width: 20rem;
  margin-bottom: 2rem;
}

.carousel-section {
  margin-right: 2rem;
}

.info-section {
  flex: 1;
}

.info-container {
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem
}

.cta-container {
  width: 100%;
  margin-top: 1rem;
}

.cta-button {
  width: 100%;
  padding: 1.5rem;
  background-color: #e23d28;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 50rem) {
  .home-section {
    flex: 100%;
    margin-right: 0;
  }
}
