

.image-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 75rem; 
  margin: auto;
  padding: 2rem;
}

.image-gallery h2 {
    font-size: 2rem;
    color: #3498db;
    text-align: center;
    padding: 0.5rem; 
    background-color: #ecf0f1;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    border-bottom: 2px solid #3498db;
  }

.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 12.5rem; 
  margin-right: 1rem;
}

.filter-btn {
  max-width: 50rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 0.5rem; 
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #2980b9; 
  transform: scale(1.1); 
}

.gallery-section {
  flex: 2; 
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery-item {
  width: 30%; 
  max-width: 100%;
  margin: 0.5rem;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 50rem) {
  .image-gallery {
    flex-direction: column;
  }

  .filter-section {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .gallery-item {
    width: 100%;
  }
}
